# Файлы данных БД
*.json
!poetry.lock
!pyproject.toml
metadata.json
db_meta.json
data/

# Файлы asciinema
*.cast

# Python кэш
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Poetry
.poetry/

# Сборки
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Виртуальные окружения
.venv/
venv/

# Системные
.DS_Store
Thumbs.db